<!DOCTYPE html>
<html>
<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script> 
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Push Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='index.css') }}" />
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
    <h1>Hello World</h1>
    <form action="http://localhost:8000/postdata/" method="post" id="theForm" enctype="multipart/form-data"> 
        <input type="file" name='myfile'>
        <button type="submit" class="btn btn-primary" id='upload-btn' >Upload</button>
    </form>
    <button onclick="window.location.href='/serv.html'">Check data</button>
</body>
<script>
    // function upload(){
    //     $("#theForm").ajaxSubmit({url: '127.0.0.1:8000/postdata/', type: 'POST'});
    // }
   
</script>
</html>